@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
    font-family: 'montserrat', sans-serif;
    overflow-x: hidden;
}

header{
    padding: 20px 0px;
    opacity: 0.7;
}


/*=====MENU====*/

#menu li > a {
    font-size: 18px;
    font-weight: bold;
    color: #8d0707;
}

#menu form > button {
    font-size: 18px;
    font-weight: bold;
}

/*=====SLIDER DE IMAGENES====*/

.carousel-inner {
    max-height: 39rem;
}

/*====UBUCACION CON MAPA=====*/


/*====FORMULARIO=====*/

input{
    accent-color: #bb1717;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 20px;
    color: #8d0707;
}

.input-padron{
    width: 100%;
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
}



.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 100%;
    margin-bottom: 3rem;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color:white;
    background: rgb(129, 50, 50);
    border:none;
    border-radius: 5px;
    transition: 1s all;
    cursor:pointer;
}

.enviar:hover {
    background: silver;
    transform: scale(1.2);
}


/*====FOOTER=====*/

footer{
    text-align: center;
    background: url(img/logo.jpg);
    padding: 40px;
    opacity: 0.6;
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px;
}






/*====MEDIA QUERY PANTALLA SM*/

@media (max-width:768px){
    #intro, #equipo {
        width: 90% !important; 
    }

    #equipo p {
        display: none;
    }

    .servicio-fila {
        width: 100% !important;
        text-align: center;
    }
}

/*====MEDIA QUERY PANTALLAS EXTRA SM*/

@media (max-widht: 576px){
    .icono-wrap{
        flex-wrap: wrap ;
        justify-content: center !important;
    }

}